GEMINI_API_KEY=AIzaSyBOPn_rtZC6SLWS2ZkAsT2i5eW_5M56DOU
NVIDIA_API_KEY=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
GEMINI_MODEL=gemini-2.5-flash
NVIDIA_NEMOTRON_MODEL=nvidia/llama-3.3-nemotron-super-49b-v1
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
FRONTEND_ORIGIN=http://localhost:3000

